td .carddeletelink {
    color: #566dc5 !important;
    background-color: transparent !important;
    position: relative !important;
    left: 90px !important;
    bottom: 410px !important;
}
td form .cardcountinput {
    color: black;
    background-color: transparent;
    border-radius: 0 !important;
    padding: 5px !important;
    position: relative;
    top: 1.75px;
}
.cardcountdiv {
    display: inline-block;
    position: relative;
    bottom: 125px !important;
    right: 10px;
}
.cardmorelink {
    padding-top: 10px !important;
}
.shopcartlinks {
    margin-top: 15px;
}
.buybutton {
    position: relative;
    bottom: 35px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
}
.cardname {
    margin-top: 40px !important;
}
.cardimgcon {
    padding-left: 25px;
}
