body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
  

}
.maincontainer {

}
header {
    display: flex;
    font-size: 20px;
    font-weight: 600;
}
.logo {
    font-size: 30px;
    position: absolute;
    top: -15px;
    left : 5%;
    color: #566dc5;
}
.headerlinks {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 22px;
}
.headerlinks div {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
}
.signcontainer a {
    text-decoration: none;
    
}