body {
    font-family: "Inter", sans-serif;    
    margin: 0;
    padding: 0;
}
h2 {
    text-align: center;
    font-family: "Inter", sans-serif;    
    margin: 0;
    font-weight: 700; 
    color: #566dc5;
}